@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 1.4rem;
}

#main{
    background-color: #6767e1;
    width: 50vw;
    height: 70vh;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5rem auto;
    flex-direction: column;
    overflow: hidden;
}
.header{
    background-color: #50e390;
    padding: 0.5rem 2rem;
    margin: 1rem;
    width: 80%;
}
.hero{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    height: 50vh;
}
.aside{
    background-color: #90c73e;
    width: 30%; 
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.article{
    background-color: #da9c2a;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.image{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 20px;
}
.img{
    background-color: #d7d71a;
    width: 25%;
    padding: 2rem 0;
}